body {
  font-family: 'IBM Plex Serif', serif;
  margin: 0;
}

main {
  padding: 25px;
}

#artefactdetails {
  background-color: #14213D;
  color: #ffffff;
}

header, footer {
  background-color: #14213D;
  color: #ffffff;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

li {
  display: inline;
  padding: 10px;
}

#map { 
  height: 300px; 
  width: 50%;
}

#back a {
  text-decoration: none;
  color: #fca311;
}

#sectiongrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 50px;
}

div {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.artist {
  display: block;
}

#artefact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
